body,html
{
    margin: 0;
    padding: 0;
}
#index
{
    background-image: url("../img/bgReadAboutThem.jpg");
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
    top: 0;
}

#cart
{
    background-image: url("../img/sky.jpg");
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
    top: 0;
}

/*HEADER*/
.header
{
    height: 65px;
    width: 100%;
    position: fixed;
    /*background-color: red;*/
    background-image: url("../img/tracks.png");
    top: 0;
    box-shadow: 0 5px 10px black;
}

.navbar
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0,0, 0.5);
}

.header_entity
{
    flex-grow: 1;
    margin: auto;
    font-family: 'Open Sans Condensed', sans-serif;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1s;
}

.header_entity:hover
{
    flex-grow: 1.5;
    transition: 1s;
    background-color: rgba(0, 0,0, 0.7);
}

.footer
{
    width: 100%;
    height: 100px;
    background-color: rgba(0, 0,0, 0.7);
    display: flex;
    flex-direction: row;
}

.footer_entity
{
    flex-grow: 1;
    margin: auto;
    font-family: 'Open Sans Condensed', sans-serif;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer_entity:hover
{
    flex-grow: 1.5;
    transition: 1s;
    background-color: rgba(0, 0,0, 0.7);
}

.center
{
    display: flex;
    justify-content: center;
}

.text_white
{
    color: white;

}

.text_center
{
    text-align: center;

}


#solPaneler {
    display: flex;
    flex-direction: row;
    max-width: 70vw;
    align-items: center;
    margin: 60px auto 100px auto;
    justify-items: center;
}

.infoText{
    margin-left: 50px;
    margin-right: 50px;
    font-size: 1.7em;

    background-color: lightgray;
    border-radius: 10px;
    padding: 10px
}